body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .titile {
    width: 100%;
    top: 0;
    max-width: 100%;
    display: block;
  
    position: absolute;
    background-color: cyan;
    color: white;
    text-align: center;
    margin: 0;
  }
  
  
  .entry-modal{
    border: 1px solid #444444;
    width: 300px;
    margin: auto;
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 70;
    margin-left: -150px;
    padding: 5px;
    color: #fff;
    background-color: skyblue;
    text-align: center;
    border-radius: 7px;
  }
  
  /* .modelContainer {
    border: 2px solid red;
    width: 25%;
    margin: auto;
    align-items: center;
    height: 50vh;
    display: grid;
    margin-top: 20vh;
    background-color: gold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 8px;
  } */
  .modelContainer > div {
    align-items: center;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    gap: 5px;
  }
  
  
  #notification{
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #fff;
    margin: 0;
    top: 47.33px;
    font-size: 18pt;
    width: 100%;
    background-color: rgb(62, 241, 241);
  }
  
  
  .inputbox {
    /* border:2px solid green; */
    border: none;
    padding: 10px;
  }
  .bi {
    font-size: 30px;
  }
  #room-input {
    padding: 5px;
    width: 85%;
  }
  .room-input{
    border: none;
    padding:5px;
  }
  #control {
    /* border:2px solid rgb(8, 8, 6); */
    display: flex;
    justify-content: space-evenly;
  }
  
  /* #remote-video{
      top: 0;
      height: 100%;
      left: 0;
      /* background-color: ; */
      /* position: absolute; */
  /* }  */
  
  #remote-video{
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: lightgray;
    position: absolute;
  }
  
  /* #local-video{
      top: 60px;
      width: 300px;
      object-fit: cover;
      height: 150px;
      z-index:1;
      right: 15px;
      z-index:1;
      background-color: antiquewhite;
      position: absolute;
  }
  
  
  .meet-controls-bars{
      bottom:0;
      background-color: black;
      left: 0;
      position: absolute;
      width: 100%;
  } */
  
  #local-video{
    top: 5px;
    width: 180px;
    object-fit: cover;
    height: 131px;
    z-index: 1;
    right: 5px;
    /* background-color: white; */
    position: absolute;
  }
  
  .meet-controls-bar{
    bottom: 0;
    background-color: skyblue;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  /* workdesk */