*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: sans-serif;
    background-color: #FAFAFA;
}

#logo{
    width: 20%;
    margin: auto;
}
#logo img{
    width: 100%;
    height: 100%;
}
h1{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#main{
    width: 85%;
    display: flex;
    margin: auto;
    border-radius: 10px;
    /* background-color: #266AFA; */
    background-color: #BBDEFB;
    padding: 20px;
    height: 70vh;
}

#room-user{
    width: 30%;
}

#room{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #0288D1;
    color: #ffffff;
}

#room-name{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}

#user-online{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#user-heading{
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #0288D1;
    color: #ffffff;
}

#members{
    overflow-y: scroll;
    padding: 10px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
}
#members > div{
    width: 95%;
    height: 35px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #9CCC65;
    color: #ffffff;
}

#message-container{
    margin-left: 30px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

#leave{
    background-color: #EF5350;
    padding: 13px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
}
#leave:hover{
    cursor: pointer;
    background-color: #E57373;
}

#msgs{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    color: #ffffff;
    padding: 7px;
    background-color: #0288D1;
}

#messages{
    height: 80%;
    background-color: #ffffff;
    overflow-y: scroll;
    padding: 0px 30px;
}

#type-message{
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: auto;
}

#text{
    height: 100%;
    width: 80%;
    padding: 0px 20px;
    font-family: sans-serif;
    border-radius: 6px;
    border: none;
    outline: none;
}
#text:focus{
    border: 2px solid #0288D1;
}

#send{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    margin-left: auto;
    background-color: #4CAF50;
    color: #ffffff;
    height: 100%;
}

#send:hover{
    cursor: pointer;
    background-color: #66BB6A;
}

.message{
    margin-top: 15px;
    padding: 10px 30px;
    background-color: #B39DDB;
    border-radius: 6px;
    color: #ffffff;
}

.meta{
    margin-bottom: 7px;
}

@media screen and (max-width: 500px) {
    h1{
        font-size: 20px;
    }
    #room{
        padding: 10px 0px;
    }
    #user-heading{
        padding: 10px 0px;
    }
    #members{
        padding: 0px;
    }
    #members > div{
        padding: 10px 0px;
    }
    #main{
        width: 90%;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    #leave{
        padding: 10px 0px;
    }
    #main div{
        width: 100%;
        height: fit-content;
    }
    #type-message{
        flex-direction: column;
    }
    #text{
        margin: 10px 0px;
        height: 40px;
    }
    #message-container{
        margin-left: 0px;
        margin-top: 20px;
    }
    #messages{
        height: 100px;
        padding: 10px;
        overflow-y: scroll;
    }
    #message-container div{
        padding: 10px 0px;
    }
}