body {
    background-color: #939292;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#logo {
    width: 100%;
}

#logoDiv {
    width: 12%;
    margin: auto;
    margin-top: 25px;
    /* border: 1px solid wheat; */
}
/* s */
#videoDiv{
    display: grid;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    justify-content: space-between;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: auto;
    gap: 5px;
    place-items: center;
    /* border: 1px solid white; */
}

video{
    width: 99%;
    height: 99%;
    object-fit: cover;
    border: 2px solid #ffffff;
    border-radius: 2%;
}

#controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

#hangup{
    background-color: white;
    border-radius: 100%;
    padding: 8px;
    margin-top: 40px;
}

.icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
}